table{
    border: solid black 2px;
}
table tr{
    border: solid black 2px;  
}
table td{
    border: solid black 2px;
    width: 50px;
    height: 50px;
    font-size: 40px;   
}
.negras{
    border: solid black 2px;
    background-color: darkgrey;
    width: 60px;
    height: 60px;
    font-size: 52px;
}
.blancas{
    border: solid black 2px;
    background-color: blanchedalmond;
    width: 60px;
    height: 60px;
    font-size: 52px;
}